<p>bs-carousel works!</p>
<div class="container">
    <div class="row mb-3">
        <div class="col-md-3">
            <span>A</span>
        </div>
        <div class="col-md-3">
            <span>B</span>
        </div>
        <div class="col-md-3">
            <span>C</span>
        </div>
        <div class="col-md-3">
            <span>D</span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            <span>E</span>
        </div>
        <div class="col-md-3">
            <span>F</span>
        </div>
        <div class="col-md-3">
            <span>G</span>
        </div>
        <div class="col-md-3">
            <span>H</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ng-content></ng-content>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            <span>I</span>
        </div>
        <div class="col-md-3">
            <span>J</span>
        </div>
        <div class="col-md-3">
            <span>K</span>
        </div>
        <div class="col-md-3">
            <span>L</span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            <span>M</span>
        </div>
        <div class="col-md-3">
            <span>N</span>
        </div>
        <div class="col-md-3">
            <span>O</span>
        </div>
        <div class="col-md-3">
            <span>P</span>
        </div>
    </div>
</div>